interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/ohlcv/exchanges/KRAKEN/history?period_id=1DAY&time_end=2021-01-01T04%3A00%3A00&time_start=2021-01-01T00%3A00%3A00
    response:
      content: "[\n  {\n    \"symbol_id_exchange\": \"BAL/USD\",\n    \"symbol_id_coinapi\": \"KRAKEN_SPOT_BAL_USD\",\n    \"time_period_start\": \"2021-01-01T00:00:00.0000000Z\",\n    \"time_period_end\": \"2021-01-02T00:00:00.0000000Z\",\n    \"time_open\": \"2021-01-01T00:00:26.8900000Z\",\n    \"time_close\": \"2021-01-01T22:55:21.9320000Z\",\n    \"price_open\": 13.65,\n    \"price_high\": 14.48,\n    \"price_low\": 13.65,\n    \"price_close\": 14.01,\n    \"volume_traded\": 8673.6236305,\n    \"trades_count\": 290\n  },\n  {\n    \"symbol_id_exchange\": \"SC/ETH\",\n    \"symbol_id_coinapi\": \"KRAKEN_SPOT_SC_ETH\",\n    \"time_period_start\": \"2021-01-01T00:00:00.0000000Z\",\n    \"time_period_end\": \"2021-01-02T00:00:00.0000000Z\",\n    \"time_open\": \"2021-01-01T00:00:37.9230000Z\",\n    \"time_close\": \"2021-01-01T23:41:01.4430000Z\",\n    \"price_open\": 0.00000426,\n    \"price_high\": 0.00000468,\n    \"price_low\": 0.00000426,\n    \"price_close\": 0.00000459,\n    \"volume_traded\": 9197[...]
