interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/ohlcv/KRAKEN_SPOT_BTC_USD/latest?period_id=1DAY
    response:
      content: "[\n  {\n    \"time_period_start\": \"2024-03-06T00:00:00.0000000Z\",\n    \"time_period_end\": \"2024-03-07T00:00:00.0000000Z\",\n    \"time_open\": \"2024-03-06T00:00:01.2161300Z\",\n    \"time_close\": \"2024-03-06T18:40:56.5425889Z\",\n    \"price_open\": 63805.2,\n    \"price_high\": 67635.3,\n    \"price_low\": 62884.2,\n    \"price_close\": 66985.1,\n    \"volume_traded\": 2105.25659901,\n    \"trades_count\": 24985\n  },\n  {\n    \"time_period_start\": \"2024-03-05T00:00:00.0000000Z\",\n    \"time_period_end\": \"2024-03-06T00:00:00.0000000Z\",\n    \"time_open\": \"2024-03-05T00:00:02.1920840Z\",\n    \"time_close\": \"2024-03-05T23:59:57.3770489Z\",\n    \"price_open\": 68338.6,\n    \"price_high\": 69218,\n    \"price_low\": 59150,\n    \"price_close\": 63802.3,\n    \"volume_traded\": 7185.13828823001,\n    \"trades_count\": 78977\n  },\n  {\n    \"time_period_start\": \"2024-03-04T00:00:00.000[...]
