interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/trades/latest?filter_symbol_id=KRAKEN_SPOT_BTC_USD%2CKRAKEN_SPOT_ETH_USD&limit=10
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:46:24.6673328Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:24.7071883Z\",\n    \"uuid\": \"bbd51db9-d0af-4ff1-909f-fd8b2aa56272\",\n    \"price\": 67088.30000,\n    \"size\": 0.00200000,\n    \"taker_side\": \"SELL\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_ETH_USDT\",\n    \"time_exchange\": \"2024-03-06T20:46:23.9619739Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:23.9056508Z\",\n    \"uuid\": \"f2a13c82-4bc5-4264-b9cf-3a1805a84874\",\n    \"price\": 3858.60000,\n    \"size\": 0.50000000,\n    \"taker_side\": \"BUY\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:46:23.5469150Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:23.4902930Z\",\n    \[...]
