interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/trades/KRAKEN_SPOT_BTC_USD/latest?limit=10
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:46:23.5469150Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:23.4902930Z\",\n    \"uuid\": \"3e54b27a-d1ac-447b-9e84-15d68d7af4b7\",\n    \"price\": 67069.80000,\n    \"size\": 0.00155758,\n    \"taker_side\": \"BUY\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:46:21.9668970Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:21.9125199Z\",\n    \"uuid\": \"74bcf9b8-adbb-42b4-b9c1-9e6e8e527ca2\",\n    \"price\": 67075.00000,\n    \"size\": 0.00193724,\n    \"taker_side\": \"BUY\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:46:19.8986821Z\",\n    \"time_coinapi\": \"2024-03-06T20:46:19.8412972Z\",\n    \"[...]
