interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/trades/KRAKEN_SPOT_BTC_USD/history?include_id=false&limit=10&time_end=2022-01-02T00%3A00%3A00&time_start=2022-01-01T00%3A00%3A00
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:01.1510000Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:01.2639890Z\",\n    \"uuid\": \"d00a4a46-e9f7-42d2-88a2-9d81d0282f72\",\n    \"price\": 46150,\n    \"size\": 0.05,\n    \"taker_side\": \"BUY\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:01.7690000Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:01.8841836Z\",\n    \"uuid\": \"7594bab3-791f-4da1-9133-c10da7204aca\",\n    \"price\": 46150,\n    \"size\": 0.00268,\n    \"taker_side\": \"BUY\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:01.8960000Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:02.0093917Z\",\n    \"uuid\": \[...]
