interactions:
- request:
    body: ''
    headers:
      X-CoinAPI-Key:
      - OBFUSCATED
    method: GET
    uri: https://rest.coinapi.io/v1/exchangerate/BTC/USD/history?limit=10&period_id=1DAY
  response:
    content: "[\n  {\n    \"time_period_start\": \"2024-03-07T00:00:00.0000000Z\",\n
      \   \"time_period_end\": \"2024-03-08T00:00:00.0000000Z\",\n    \"time_open\":
      \"2024-03-07T00:00:00.0000000Z\",\n    \"time_close\": \"2024-03-07T18:22:00.0000000Z\",\n
      \   \"rate_open\": 66118.50488454191,\n    \"rate_high\": 68020.95030827828,\n
      \   \"rate_low\": 65684.51542269399,\n    \"rate_close\": 67650.31343148787\n
      \ },\n  {\n    \"time_period_start\": \"2024-03-06T00:00:00.0000000Z\",\n    \"time_period_end\":
      \"2024-03-07T00:00:00.0000000Z\",\n    \"time_open\": \"2024-03-06T00:00:00.0000000Z\",\n
      \   \"time_close\": \"2024-03-06T23:59:00.0000000Z\",\n    \"rate_open\": 63799.853430002455,\n
      \   \"rate_high\": 67609.0819344104,\n    \"rate_low\": 62859.66739352585,\n
      \   \"rate_close\": 66102.78154848318\n  },\n  {\n    \"time_period_start\":
      \"202[...]
