interactions:
- request:
    body: ''
    headers:
      X-CoinAPI-Key:
      - OBFUSCATED
    method: GET
    uri: https://rest.coinapi.io/v1/exchangerate/BTC/USD?time=2021-01-01
  response:
    content: "{\n  \"time\": \"2020-12-31T23:59:00.0000000Z\",\n  \"asset_id_base\":
      \"BTC\",\n  \"asset_id_quote\": \"USD\",\n  \"rate\": 28990.2304752255\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-concurrencylimit-limit:
      - '1'
      x-concurrencylimit-remaining:
      - '1'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-request-cost:
      - '1'
    status_code: 200
version: 1
