interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/exchangerate/IOTA
    response:
      content: "{\n  \"asset_id_base\": \"IOTA\",\n  \"rates\": [\n    {\n      \"time\": \"2024-03-06T18:28:14.0000000Z\",\n      \"asset_id_quote\": \"$ADS\",\n      \"rate\": 1.8572011216131577214732514369\n    },\n    {\n      \"time\": \"2024-03-06T18:28:14.0000000Z\",\n      \"asset_id_quote\": \"$BURN\",\n      \"rate\": 23298.747374244037662246423643\n    },\n    {\n      \"time\": \"2024-03-06T18:28:14.0000000Z\",\n      \"asset_id_quote\": \"$BUY\",\n      \"rate\": 14.702098462520976806262366827\n    },\n    {\n      \"time\": \"2024-03-06T18:28:14.0000000Z\",\n      \"asset_id_quote\": \"$CCX\",\n      \"rate\": 76.599297309019796518673467967\n    },\n    {[...]
