interactions:
- request:
    body: ''
    headers:
      X-CoinAPI-Key:
      - OBFUSCATED
    method: GET
    uri: https://rest.coinapi.io/v1/exchangerate/IOTA
  response:
    content: "{\n  \"asset_id_base\": \"IOTA\",\n  \"rates\": [\n    {\n      \"time\":
      \"2024-03-07T18:22:28.0000000Z\",\n      \"asset_id_quote\": \"$BTH\",\n      \"rate\":
      32.540994779225168005050740983\n    },\n    {\n      \"time\": \"2024-03-07T18:22:28.0000000Z\",\n
      \     \"asset_id_quote\": \"$BURN\",\n      \"rate\": 24377.933786249067558633923802\n
      \   },\n    {\n      \"time\": \"2024-03-07T18:22:28.0000000Z\",\n      \"asset_id_quote\":
      \"$BUY\",\n      \"rate\": 14.626699378021347832311438507\n    },\n    {\n      \"time\":
      \"2024-03-07T18:22:28.0000000Z\",\n      \"asset_id_quote\": \"$CCX\",\n      \"rate\":
      77.0255[...]
