interactions:
- request:
    body: ''
    headers:
      X-CoinAPI-Key:
      - OBFUSCATED
    method: GET
    uri: https://rest.coinapi.io/v1/exchangerate/history/periods
  response:
    content: "[\n  {\n    \"period_id\": \"1SEC\",\n    \"length_seconds\": 1,\n    \"length_months\":
      0,\n    \"unit_count\": 1,\n    \"unit_name\": \"second\",\n    \"display_name\":
      \"1 Second\"\n  },\n  {\n    \"period_id\": \"2SEC\",\n    \"length_seconds\":
      2,\n    \"length_months\": 0,\n    \"unit_count\": 2,\n    \"unit_name\": \"second\",\n
      \   \"display_name\": \"2 Seconds\"\n  },\n  {\n    \"period_id\": \"3SEC\",\n
      \   \"length_seconds\": 3,\n    \"length_months\": 0,\n    \"unit_count\": 3,\n
      \   \"unit_name\": \"second\",\n    \"display_name\": \"3 Seconds\"\n  },\n
      \ {\n    \"period_id\": \"4SEC\",\n    \"length_seconds\": 4,[...]
