interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/orderbooks3/current?filter_symbol_id=KRAKEN_SPOT_BTC_USD%2CKRAKEN_SPOT_BTC_EUR&limit_levels=10
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USDC\",\n    \"time_exchange\": \"2024-03-06T20:14:43.2376320Z\",\n    \"time_coinapi\": \"2024-03-06T20:14:43.1885096Z\",\n    \"asks\": [\n      {\n        \"price\": 67239.00000,\n        \"size\": 0.00011000\n      },\n      {\n        \"price\": 67246.34000,\n        \"size\": 0.00030386\n      },\n      {\n        \"price\": 67254.69000,\n        \"size\": 0.37172132\n      },\n      {\n        \"price\": 67259.19000,\n        \"size\": 0.04640000\n      },\n      {\n        \"price\": 67260.21000,\n        \"size\": 0.37169082\n      },\n      {\n        \"price\": 67263.80000,\n        \"size\": 0.00442438\n      },\n      {\n        \"price\": 67264.30000,\n        \"size\": 0.37166822\n      },\n      {\n        \"price\": 67272.65000,\n        \"size\": 0.04640000\n      },\n      {\n        \"price\": 67279.84000,\n        \"size\": 0.37158238\n      },\n      {\n        \"price\": 67290.44000,\n        \"size\": 0.02328031\n      }\n    ],\n    \"bids\": [\n      {\n        \"price\": 67238.99000,\n        \"size\": 1.22434424\n      },\n      {\n        \"price\": 67235.56000,\n        \"size\": 0.50450000\n      },\n      {\n        \"price\": 67235.03000,\n        \"size\": 0.00371928\n      },\n      {\n        \"price\": 67231.07000,\n        \"size\": 0.04640000\n      },\n      {\n        \"price\": 67230.69000,\n        \"size\": 0.00595255\n      },\n      {\n        \"price\": 67225.53000,\n        \"size\": 0.04640000\n      },\n    [...]
