interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/quotes/latest?filter_symbol_id=KRAKEN_SPOT_BTC_USD%2CCOINBASE_SPOT_BTC_USD&limit=10
    response:
      content: "[\n  {\n    \"symbol_id\": \"COINBASE_SPOT_BTC_USDT\",\n    \"time_exchange\": \"2024-03-06T20:45:27.3978700Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:27.4422649Z\",\n    \"ask_price\": 66907.72,\n    \"ask_size\": 0.03728876,\n    \"bid_price\": 66900.44,\n    \"bid_size\": 0.02506381\n  },\n  {\n    \"symbol_id\": \"COINBASE_SPOT_BTC_USDT\",\n    \"time_exchange\": \"2024-03-06T20:45:27.3951910Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:27.4327350Z\",\n    \"ask_price\": 66907.72,\n    \"ask_size\": 0.03728876,\n    \"bid_price\": 66900.44,\n    \"bid_size\": 0.01506381\n  },\n  {\n    \"symbol_id\": \"COINBASE_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:45:27.3670700Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:27.4029045Z\",\n    \"ask_price\": [...]
