interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/quotes/KRAKEN_SPOT_BTC_USD/latest?limit=10
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:45:55.9509329Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:55.8894520Z\",\n    \"ask_price\": 67059.60000,\n    \"ask_size\": 1.34385342,\n    \"bid_price\": 67059.50000,\n    \"bid_size\": 8.17263798\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:45:55.5776560Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:55.5183460Z\",\n    \"ask_price\": 67059.60000,\n    \"ask_size\": 1.34456342,\n    \"bid_price\": 67059.50000,\n    \"bid_size\": 8.17263798\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:45:55.0270841Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:55.2154435Z\",\n    \"ask_price\":[...]
