interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/quotes/current?filter_symbol_id=KRAKEN_SPOT_BTC_USD%2CCOINBASE_SPOT_BTC_USD
    response:
      content: "[\n  {\n    \"symbol_id\": \"COINBASE_SPOT_BTC_USD\",\n    \"time_exchange\": \"2024-03-06T20:45:09.3462640Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:09.3833258Z\",\n    \"ask_price\": 67030.27,\n    \"ask_size\": 0.01647301,\n    \"bid_price\": 67027.15,\n    \"bid_size\": 0.02,\n    \"last_trade\": {\n      \"time_exchange\": \"2024-03-06T20:45:08.8999700Z\",\n      \"time_coinapi\": \"2024-03-06T20:45:09.0041432Z\",\n      \"uuid\": \"f91b2ddf-d562-40b8-8995-be6be7c78c93\",\n      \"price\": 67030.32,\n      \"size\": 0.00014042,\n      \"taker_side\": \"BUY\"\n    }\n  },\n  {\n    \"symbol_id\": \"COINBASE_SPOT_BTC_USDT\",\n    \"time_exchange\": \"2024-03-06T20:45:09.1338390Z\",\n    \"time_coinapi\": \"2024-03-06T20:45:09.1726563Z\",\n    \"ask_price\": 66877.68,\n    \"ask_size\": 0.01311601,\n    \"bid_price\": 66859.85,\n    \"bid_size\": 0.018,\n    \"last_trade\": {\n      \"time_exchange\": \"2024-03-06T20:45:06.5154150Z\",\n      \"time_coinapi\": \"2024-03-06T20:45:06.6055949Z\",\n      \"uuid\": \"05d0611a-b060-419a-b641-0b39a0ea[...]
