interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/quotes/KRAKEN_SPOT_BTC_USD/history?limit=10&time_end=2022-01-02T00%3A00%3A00&time_start=2022-01-01T00%3A00%3A00
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:00.2963765Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:00.2963765Z\",\n    \"ask_price\": 46150,\n    \"ask_size\": 43.89101382,\n    \"bid_price\": 46149.9,\n    \"bid_size\": 7.96955817\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:00.2995096Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:00.2995096Z\",\n    \"ask_price\": 46150,\n    \"ask_size\": 43.89101382,\n    \"bid_price\": 46149.9,\n    \"bid_size\": 8.21955817\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2022-01-01T00:00:01.2688732Z\",\n    \"time_coinapi\": \"2022-01-01T00:00:01.2688732Z\",\n    \"ask_price\": 46150,\n[...]
