interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/indexes/TEST_IDX14_VWAP
    response:
      content: "{\n  \"index_id\": \"TEST_IDX14_VWAP\",\n  \"name\": \"Index for testing that will calculate VWAP for pairs across defined exchanges\",\n  \"description\": \"\",\n  \"index_method\": \"ASSET_VWAP\",\n  \"index_method_parameters\": {\n    \"exchangeIds\": \"KRAKEN,GEMINI,COINBASE,BITSTAMP,BINANCE,DERIBIT,BYBITSPOT,OKEX,UPBIT,KUCOIN,BITFINEX\",\n    \"assetIds\": \"BTC\",\n    \"url\": \"https://rest.coinapi.io/\",\n    \"referenceAssetId\": \"USD\",\n    \"stableCoinAssetIds\": \"USDT,USDC,DAI,BUSD\"\n  },\n  \"period_recalculation\": \"2MIN\",\n  \"components\": []\n}"
      headers:
        content-type:
          - application/json; charset=utf-8
        x-concurrencylimit-limit:
          - '1'
        x-concurrencylimit-remaining:
          - '1'
        x-ratelimit-limit:
          - '100'
        x-ratelimit-request-cost:
          - '1'
      status_code: 200
version: 1
