interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/orderbooks/KRAKEN_SPOT_BTC_USD/history?limit=10&time_end=2021-01-02T00%3A00%3A00&time_start=2021-01-01T00%3A00%3A00
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_USD\",\n    \"time_exchange\": \"2021-01-01T00:00:00.0142532Z\",\n    \"time_coinapi\": \"2021-01-01T00:00:00.0142532Z\",\n    \"asks\": [\n      {\n        \"price\": 28961.4,\n        \"size\": 0.172\n      },\n      {\n        \"price\": 28961.5,\n        \"size\": 0.577\n      },\n      {\n        \"price\": 28962.1,\n        \"size\": 0.172\n      },\n      {\n        \"price\": 28962.2,\n        \"size\": 2.172\n      },\n      {\n        \"price\": 28964.3,\n        \"size\": 0.2\n      },\n      {\n        \"price\": 28965.9,\n        \"size\": 0.21\n      },\n      {\n        \"price\": 28966,\n        \"size\": 0.74793474\n      },\n      {\n        \"price\": 28966.1,\n      [...]
