interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/symbols/KRAKEN
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_UNI_USD\",\n    \"exchange_id\": \"KRAKEN\",\n    \"symbol_type\": \"SPOT\",\n    \"asset_id_base\": \"UNI\",\n    \"asset_id_quote\": \"USD\",\n    \"data_start\": \"2020-10-15\",\n    \"data_end\": \"2024-03-05\",\n    \"data_quote_start\": \"2020-10-15T00:00:00.0000000Z\",\n    \"data_quote_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"data_orderbook_start\": \"2022-01-01T00:00:00.0000000Z\",\n    \"data_orderbook_end\": \"2023-07-06T00:00:00.0000000Z\",\n    \"data_trade_start\": \"2020-10-15T00:00:00.0000000Z\",\n    \"data_trade_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"volume_1hrs\": 282.93549051,\n    \"volume_1hrs_usd\": 4433.16,\n    \"volume_1day\": 328521.1846362,\n    \"volume_1day_usd\": 5147422.62,\n    \"volume_1mth\": 6971874.69245478,\n    \"volume_1mth_usd\": 109238573.30,\n    \"price\": 15.8730,\n    \"symbol_id_exchange\": \"UNI/USD\",\n    \"asset_id_base_exchange\": \"UNI\",\n    \"asset_id_quote_exchange\": \"ZUSD\",\n    \"price_precision\": 0.001000000,\n    \"size_precision\": 0.000000010,\n    \"raw_kvp\": {\n      \"aclass_base\": \"currency\",\n      \"aclass_quote\": \"currency\",\n      \"altname\": \"UNIUSD\",\n      \"base\": \"UNI\",\n      \"cost_decimals\": \"5\",\n      \"costmin\": \"0.5\",\n      \"fee_volume_currency\": \"ZUSD\",\n      \"fees\": \"[\\n  [\\n    0,\\n    0.26\\n  ],\\n  [\\n    50000,\\n    0.24\\n  ],\\n  [\\n    100000,\\n    0.22\\n  ],\\n  [\\n    250000,\\n    0.2\\n  ],\\n  [\\n    500000,\\n    0.18\\n  ],\\n  [\\n    1000000,\\n    0.16\\n  ],\\n  [\\n    2500000,\\n    0.14\\n  ],\\n  [\\n    5000000,\\n    0.12\\n  ],\\n  [\\n    10000000,\\n    0.1\\n  ]\\n]\",\n      \"fees_maker\": \"[\\n  [\\n    0,\\n    0.16\\n  ],\\n  [\\n    50000,\\n    0.14\\n  ],\\n  [\\n    100000,\\n    0.12\\n  ],\\n  [\\n    250000,\\n    0.1\\n  ],\\n  [\\n    500000,\\n    0.08\\n  ],\\n  [\\n    1000000,\\n    0.06\\n  ],\\n  [\\n    2500000,\\n    0.04\\n  ],\\n  [\\n    5000000,\\n    0.02\\n  ],\\n  [\\n    10000000,\\n    0.0\\n  ]\\n]\",\n      \"id\": \"UNIUSD\",\n      \"leverage_buy\": \"[\\n  2,\\n  3\\n]\",\n      \"leverage_sell\": \"[\\n  2,\\n  3\\n]\",\n      \"long_position_limit\": \"7900\",\n      \"lot\": \"unit\",\n      \"lot_decimals\": \"8\",\n      \"lot_multiplier\": \"1\",\n      \"margin_call\": \"80\",\n      \"margin_stop\": \"40\",\n      \"ordermin\": \"0.5\",\n      \"pair_decimals\": \"3\",\n      \"quote\": \"ZUSD\",\n      \"short_position_limit\": \"12000\",\n      \"status\": \"online\",\n      \"tick_size\": \"0.001\",\n      \"wsname\": \"UNI/USD\"\n    }\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_C98_USD\",\n    \"exchange_id\": \"KRAKEN\",\n    \"symbol_type\": \"SPOT\",\n    \"asset_id_base\": \"C98\",\n    \"asset_id_quote\": \"USD\",\n    \"data_start\": \"2022-09-29\",\n    \"data_end\": \"2024-03-05\",\n    \"data_quote_start\": \"2022-09-29T00:00:00.0000000Z\",\n    \"data_quote_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"data_orderbook_start\": \"2022-09-29T00:00:00.0000000Z\",\n    \"data_orderbook_end\": \"202[...]
