interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/symbols/map/KRAKEN
    response:
      content: "[\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_DAO_GBP\",\n    \"symbol_id_exchange\": \"XDAOZGBP\",\n    \"asset_id_base_exchange\": \"XDAO\",\n    \"asset_id_quote_exchange\": \"ZGBP\",\n    \"asset_id_base\": \"DAO\",\n    \"asset_id_quote\": \"GBP\"\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BTC_EUR\",\n    \"symbol_id_exchange\": \"XBT/EUR\",\n    \"asset_id_base_exchange\": \"XXBT\",\n    \"asset_id_quote_exchange\": \"ZEUR\",\n    \"asset_id_base\": \"BTC\",\n    \"asset_id_quote\": \"EUR\",\n    \"price_precision\": 0.100000000,\n    \"size_precision\": 0.000000010\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_BIT_USD\",\n    \"symbol_id_exchange\": \"BIT/USD\",\n    \"asset_id_base_exchange\": \"BIT\",\n    \"asset_id_quote_exchange\": \"ZUSD\",\n    \"asset_id_base\": \"BIT\",\n    \"asset_id_quote\": \"USD\",\n    \"price_precision\": 0.000100000,\n    \"size_precision\": 0.000000010\n  },\n  {\n    \"symbol_id\": \"KRAKEN_SPOT_DASH_USD\",\n    \"symbol_id_exchange\": \"DASH/USD\",\n    \"asset_id_base_exchange\": \"DASH\",\n    \"asset_id_q[...]
