interactions:
  - request:
      body: ''
      headers:
        X-CoinAPI-Key:
          - OBFUSCATED
      method: GET
      uri: https://rest.coinapi.io/v1/symbols?filter_asset_id=XMR
    response:
      content: "[\n  {\n    \"symbol_id\": \"POLONIEX_SPOT_XMR_USDT\",\n    \"exchange_id\": \"POLONIEX\",\n    \"symbol_type\": \"SPOT\",\n    \"asset_id_base\": \"XMR\",\n    \"asset_id_quote\": \"USDT\",\n    \"data_start\": \"2016-05-29\",\n    \"data_end\": \"2024-03-05\",\n    \"data_quote_start\": \"2016-06-13T00:00:00.0000000Z\",\n    \"data_quote_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"data_orderbook_start\": \"2016-06-12T11:53:38.1680117Z\",\n    \"data_orderbook_end\": \"2023-07-06T00:00:00.0000000Z\",\n    \"data_trade_start\": \"2016-05-29T00:00:00.0000000Z\",\n    \"data_trade_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"volume_1hrs\": 126.934185,\n    \"volume_1hrs_usd\": 18133.18,\n    \"volume_1day\": 72840.016088,\n    \"volume_1day_usd\": 10405560.50,\n    \"volume_1mth\": 2226238.490582,\n    \"volume_1mth_usd\": 318029299.57,\n    \"price\": 139.24,\n    \"symbol_id_exchange\": \"XMR_USDT\",\n    \"price_precision\": 0.010000000,\n    \"size_precision\": 0.000001000\n  },\n  {\n    \"symbol_id\": \"POLONIEX_SPOT_XMR_BTC\",\n    \"exchange_id\": \"POLONIEX\",\n    \"symbol_type\": \"SPOT\",\n    \"asset_id_base\": \"XMR\",\n    \"asset_id_quote\": \"BTC\",\n    \"data_start\": \"2016-05-29\",\n    \"data_end\": \"2024-03-05\",\n    \"data_quote_start\": \"2016-06-13T00:00:00.0000000Z\",\n    \"data_quote_end\": \"2024-03-05T00:00:00.0000000Z\",\n    \"data_orderbook_start\": \"2016-06-12T11:53:38.1680117Z\",\n    \"data_orderbook_end\": \"2023-0[...]
